
body {
	font-family: 'Gamja Flower', cursive;
}
header {
	background-color: #e4572e;
	text-align:center;
}


header h1 {
	font-family: 'Chelsea Market', cursive;
}
header h2 {
	color: #ffffff;
}

main {
	background-color: #fffff2;
}

dl h2 {
	padding: 10px;
}

dl {
	width:50%;
	max-width:60%;
	margin: 0 auto;
	border: 4px solid #050401;
	box-shadow: 3px 3px 0 0 #e4572e;
	margin-bottom: 15px;
	padding: 10px;
}

#profilesCount {
	font-size: 2em;
}

#pBioCopy {
	width:40%;
	max-width:60%;
	margin: 0 auto;
	border: 2px solid #cccccc;
	border-radius: 20px 40px 20px 20px;
	margin-bottom: 15px;
	padding: 10px;
	display: none;
}

dl p {
	padding: 10px;
}

dt {
	padding: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

dd {
	/*width: 65%;
	border: 1px solid green;*/
}

dd img {
	float: right;
	max-width: 120px;
	max-height: 120px;
	margin-top: -120px;
}

.pKey,
.pValue,
dd > strong,
dd > span {
	display: inline-block;
	margin-left: 10px;
}

dd > span {
	margin-left: 10px;
}

.pKey,
dd > strong {
	min-width: 60px;
}

/*---------------*/

footer {
	text-align: center;
}

form p {
	display: inline-block;
}

label {
	float: right;
}

#newProfileBtn {
	background: #000000;
	color:#ffffff;
	width: 50%;
	box-shadow: 3px 3px 0 0 #e4572e;
	display:block;
	margin: 0 auto; 
	padding:10px;
}
#newProfile h3 {
	text-align: center;
}
#newProfile > input,
#newProfile > textarea {
	width: 100%;
	display: block;
	padding: 5px;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.profileActionButtons {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.profileActionButtons button {
	padding: 10px;
	min-width: 100px;
	border-radius: 5px;
}

#profileBio button {
	min-height:70px;
	max-height:150px;
	min-width:50%;
	max-width:100%;"
}

#requiredFieldsAlert {
	padding:3px;
	width: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
	border: 1px solid red;
	font-weight: bold;
	margin-bottom: 5px;
	display: none;
}

#addBtn {
	background: blue;
	color: white;
}

#cancelBtn {
	background: red;
	color: white;
}

/* Responsive page implementation */
@media only screen and (max-width: 1280px) {
	dd img {
		float: none;
		max-width: "";
		position: relative;
		bottom: .1em;
		width: 100px;
		height: 100px;
		margin-top: 0px;
	}
	dt {
		display: flex;
		justify-content: center;
		align-content: center;
	}
  }